<h1>Congestion_level graph</h1>

<%= column_chart @graph,
                 id: 'total-attendance-chart',
                 width: '400px',
                 height: '500px',
                 xtitle: "時間帯", 
                 ytitle: "混雑状況",
                 colors: ['#06b'] 
%>