<h1>Congestion_level graph</h1>

<%= column_chart @graph.pluck(:time, :congestion_level),
                 id: 'total-attendance-chart',
                 width: '400px',
                 height: '500px' %>